/* shared styles */
* {
    font-family: "Azeret Mono", monospace;
    margin: 0px;
}

.section-title {
    font-weight: 800px;
    font-size: 32px;
}

.section-description {
    margin-top: 24px;
    font-size: 16px;
}

.target-title{
    margin-top: 24px;
    font-size: 24px;
    font-weight: 800px;
}
.target-description{
    margin-top: 8px;
    font-size: 16px;
    margin-bottom: 24px;
}
.target-more{
    font-size: 16px;
    font-weight: bold;
}

/* header styles */

/* title styles */
.title {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    color: #0D1321;
}

.title-name {
    font-size: 28px;
    font-weight: 800px;
}

.dwnd-resume {
    border-radius: 8px;
    padding: 17px 24px;
    font-size: 20px;
    font-weight: 600px;
    background-color: white;
}

/* banner styles */
.banner {
    background-image: url(../assets/Hero-bg.png);
    width: 1440px;
    height: 652px;
    color: #0D1321;
    background-repeat: no-repeat;
}

.banner-container {
    text-align: center;
    padding: 26px 221px;
}

.banner-image {
    margin-top: 26px;
}

.banner-title {
    font-weight: 800px;
    font-size: 48px;
    margin-top: 32px;
}

.banner-description {
    font-size: 16px;
    margin-top: 24px;
}

.banner-btn {
    height: 65px;
    width: 244px;
    border-radius: 8px;
    padding: 21px 24px;
    font-size: 20;
    font-weight: 600px;
    color: white;
    background-color: #0D1321;
    margin-top: 32px;
}

/* development styles */
.development {
    border-radius: 16px;
    padding: 80px 97px;
    text-align: center;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 74px 150px;
}
/* info styles */
.info {
    margin-top: 48px;
}

.dev-info {
    display: flex;
    align-items: center;
    text-align: start;
    gap: 99px;
    border-radius: 16px;
    background-color: white;
    padding: 48px;
}

.dev-title {
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
    margin-top: 58.5px;
}

.dev-description {
    margin-top: 16px;
    font-size: 16px;
    color: #0D1321;
}

.dev-more {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 600px;
    height: 47px;
    width: 171px;
    color: #0D1321;
}

.dev-info-2 {
    display: flex;
    align-items: center;
    text-align: start;
    gap: 32px;
    border-radius: 16px;
    background-color: white;
    padding: 48px;
    margin-top: 32px;
}

.dev-info-3 {
    display: flex;
    align-items: center;
    text-align: start;
    gap: 133px;
    border-radius: 16px;
    background-color: white;
    padding: 48px;
    margin-top: 32px;
}

/* my inspiration styles */
.inspiration{
    margin: 90px 150px;
    text-align: center;
}
.embed{
    margin-top: 48px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.2);
    padding: 32px;
}
.video{
    border-radius: 15px;
}

/* current target styles */
.current-target{
    margin: 151px 150px;
    text-align: center;
}
.targets{
    display: flex;
    margin-top: 48px;
    gap: 24px;
    width: 1300px;
    height: 400px;
    color: #0D1321;
}

.html-target{
    text-align: start;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 40px;
}
.css-target{
    text-align: start;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 40px;
}
.js-target{
    text-align: start;
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 40px;
}

/* support styles */
.support{
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../assets/handshake.jpg);
    height: 313px;
    width: 1140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    margin: 49px 150px;
}
.support-container{
    padding: 66px 48px;
}
.support-title{
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.support-description{
    color: white;
    font-size: 16px;
    margin-top: 16px;
}
.support-inputs{
    margin-top: 24px;
}
.support-inputs input[type="text"]{
    width: 548px;
    border-radius: 8px;
    padding: 19px 20px;
    margin-right: 16px;
    color: 0D1321;
    font-size: 16px;
}
.support-inputs input[type="submit"]{
    width: 120px;
    border-radius: 8px;
    padding: 17px 20px;
    color: 0D1321;
    font-size: 20px;
    font-weight: 600px;
}

/* footer styles */
.footer-container{
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
    color: #0D1321;
}
.footer-title{
    font-size: 20px;
    font-weight: 600px;
}
#facebook{
    margin-right: 24px;
}
#github{
    margin-right: 24px;
}